@media screen and (max-width: 600px){
    #ongletNousTrouver .content
    {
        width: 100%;
        margin-top: 5px;
    }
    #ongletNousTrouver .slider ul,
    #ongletNousTrouver .slider li
    {
        position: relative;
        width: 520px;
    }


    #ongletNousTrouver .slider ul li:first-child
    {
        align-items: center;
        width: 100%;
    }
    #ongletNousTrouver .slider li h2,
    #ongletNousTrouver .slider li p
    {
        margin-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 415px) {
    #ongletNousTrouver .content ul
    {
        height: auto;
        width: 100%;
        flex-flow: row wrap;
    }
    #ongletNousTrouver .content ul li
    {
        padding: 20px 0;
        width: 50%;
    }
    #showEvents
    {
        right: 38%;
    }

    #ongletNousTrouver .slider ul
    {
        width: 100%;
    }
    
    #ongletNousTrouver .slider ul,
    #ongletNousTrouver .slider li
    {
        position: relative;
        width: 400px;
    }
}