/*********************************************************************\
	Fichier général de la page.

	Celui-ci contient tous les élements principaux structurant
	la page.

\*********************************************************************/
body
{
	/* Fond blanc demandé par le client */
	background-color: #fff;
}
header, section, footer
{
	width: 100%;
}

/* Style de l'entête de la page */
header
{
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	height: 75px;
	background-color: #3e3e3e;
	box-shadow: 0 3px 15px rgba(0, 0, 0, .2);
	z-index: 50;
}
header img
{
	height: 58px;
	margin-left: 30px;
	transition: all .2s linear 0s;
}
header ul
{
	display: flex;
	flex-flow: row nowrap; 
	list-style-type: none;
	padding-right: 30px;
	height: 100%;
}
header ul > li
{
	cursor: pointer;
	position: relative;
	display: flex;
	align-items: center;

	height: 100%;
	padding: 0 18px;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #606060;
	transition: all .2s linear 0s;
}
header ul > li p
{
	z-index: 500;
}
/* Animation liée à l'élement situé après cette propriété */
@keyframes unfold {
	from
	{
		transform: scaleX(0);
	}
	to
	{
		transform: scaleX(1);
	}
}
/* Represente la page où l'on est actuellement */
header ul > li.highlight
{
	color: #ffb300;
}
header ul > li.highlight::before
{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	transform-origin: 50% 0;
	background-color: #ffb300;
	z-index: 20;
	animation: unfold .2s linear forwards 0s;
}
header ul > li:hover
{
	opacity: .7;
}
header ul > li.highlight:hover
{
	opacity: 1;
}

section
{
	height: auto;
}
section > article
{
	display: none;
	flex-flow: column wrap;
	flex-grow: 1;
	width: auto;
	/*
	border-left: 2px solid #E65100;
	border-right: 2px solid #E65100;
	*/
	background-color: #313131;
}
/* Classe permettant l'apparition des blocs */
section > article.shown
{
	display: flex;
}


/* Pied de page */
footer 
{
	position: relative;
	background-color: #3e3e3e;
}
footer ol
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 190px;
}
footer ol,
footer ul
{
	list-style-type: none;
}
footer ul:first-child
{
	margin-left: 35px;
}
footer ul:last-child
{
	margin-right: 35px;
}


footer ul li
{
	display: flex;
	padding: 15px 0;
}

footer ul li svg
{
	fill: #FFB300;
	height: 18px;
	margin-right: 15px;
}
footer ul:last-child li
{
	padding: 5px 0;
}
footer ul li, footer a
{
	color: #fff;
	font-size: 15px;
	font-weight: normal;
	text-decoration: none;
	transition: color .15s linear 0s;
}
footer a:hover
{
	color: #FFB300;
}
footer ul li img
{
	height: 75px;
}
footer p
{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 45px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	color: #606060;
}
footer p a
{
	text-decoration: none;
	margin-left: 5px;
	font-weight: bold;
	font-size: 14px;
	color: #fff;
	opacity: .8;
	transition: color .15s linear 0s;
}
footer p a:hover
{
	opacity: 1;
	color: #FFB300;
}



@media screen and (max-width: 550px) {
	header {
		flex-flow: column wrap;
		height: auto;
	}
	header img
	{
		height: 80px;
		margin: 28px 0;
	}
	header ul
	{
		justify-content: center;
		height: 80px;
		width: 100%;
		padding-right: 0;
	}
	header ul li
	{
		justify-content: center;
		width: 33.333%;
		padding: 0;
		margin-right: 0;
	}
	header ul li:active
	{
		background-color: rgba(255, 255, 255, .1);
	}
	header ul > li.highlight::before
	{
		height: 4px;
	}


	footer ol
	{
		flex-flow: column wrap;
		height: auto;
	}
	footer::before
	{
		display: none;
	}
	footer ul
	{
		position: relative;
		display: flex;
		flex-flow: row nowrap;
		width: 100%;
	}
	footer ul:first-child
	{
		margin-left: 0;
	}
	footer ul:last-child
	{
		margin-right: 0;
	}
	footer ul li
	{
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0 10px;
		text-align: center;
		flex-grow: 1;
		height: 80px;
	}
	footer ul:first-child
	{
		border-bottom: 2px dotted #fff;
		margin-bottom: 40px;
	}
	footer ul:first-child li
	{
		width: 33.3333%;
	}
	footer ul:first-child li:active
	{
		background-color: rgba(255, 255, 255, .1);
	}
	footer ul:last-child
	{
		flex-flow: column wrap;
	}
	footer ul:last-child li
	{
		font-size: 25px;
		height: 90px;
	}
	footer ul:last-child li:nth-child(2)
	{
		height: 30px;
		margin-top: 20px;
	}
	footer ul:last-child li:nth-child(3)
	{
		display: none;
	}
	footer ul:last-child li:nth-child(4)
	{
		font-size: 16px;
		height: 30px;
		margin-bottom: 50px;
	}
	footer ul li img
	{
		height: 90px;
	}
}