/*********************************************************************\
	Fichier général de la page.

	Celui-ci contient tous les élements principaux structurant
	la page.


\*********************************************************************/

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

*
{
	
	margin:0;
	padding:0;
	font-family: 'Roboto', sans-serif;
}

header, section, footer
{
	width: 100%;
}

/* Style de l'entête de la page */
header
{
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	height: 70px;
	background-color: #F4511E;
}
header img
{
	height: 56px;
	margin-left: 28px;
}
header ul
{
	display: flex;
	flex-flow: row nowrap; 
	list-style-type: none;
	padding-right: 28px;
	height: 100%;
}
header ul > li
{
	cursor: pointer;
	position: relative;
	display: flex;
	align-items: center;

	height: 100%;
	padding: 0 17px;
	margin-right: 5px;
	color: #fff;
	transition: all .2s linear 0s;
}
header ul > li:last-child
{
	margin-right: 0;
}
/* Animation liée à l'élement situé après cette propriété */
@keyframes unfold {
	from
	{
		transform: scaleX(0);
	}
	to
	{
		transform: scaleX(1);
	}
}
/* Represente la page où l'on est actuellement */
header ul > li.highlight::before
{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 3px;
	transform-origin: 50% 0;
	background-color: #fff;
	animation: unfold .2s linear forwards 0s;
}
header ul > li:hover
{
	opacity: .7;
}
header ul > li.highlight:hover
{
	opacity: 1;
}

section
{
	height: auto;
	background-color: red;
}
section > article
{
	display: none;
	width: 100%;

	/* Temporaire */
	height: 800px;
	background-color: #fff;
}
/* Classe permettant l'apparition des blocs */
section > article.shown
{
	display: block;
}


footer 
{
	height: 180px;
	background-color: #F4511E;
}