/*********************************************************************\

	Fichier propre à la partie Menu.

\*********************************************************************/
#ongletMenu
{
	position: relative;
	height: auto;
}
#ongletMenu nav
{
	position: relative;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
}
#ongletMenu nav h2
{
	color: #fff;
	font-size: 40px;
	margin-top: 75px;
	color: #E65100;
	text-align: center;
	font-family: 'Anton', sans-serif;
	font-weight: normal;
	text-transform: uppercase;
	z-index: 100;
}
#ongletMenu nav > p
{
	color: #fff;
	font-size: 16px;
	max-width: 40%;
	margin-top: 15px;
	text-align: center;
	font-weight: normal;
	color: #E65100;
	z-index: 100;
}
#ongletMenu nav ul
{
	position: relative;
	display: flex;
	flex-flow: row nowrap;
	height: auto;
	margin-top: 75px;
	margin-bottom: 75px;
	padding: 0 10px;
	background: transparent;
	z-index: 100;
}
#ongletMenu nav li
{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	position: relative;
	cursor: pointer;
	display: flex;
	justify-content: center;
	flex-flow: column nowrap;
	align-items: center;
	height: 80px;
	width: 130px;
	color: #E65100;
	font-family: 'Anton', sans-serif;
	font-weight: bold;
	font-size: 14px;
	transition: background-color .15s linear 0s;
}
#ongletMenu nav li svg
{
	fill: #E65100;
	height: 25px;
	margin-bottom: 10px;
}

#ongletMenu nav li.highlight
{
	color: #fff;
}
#ongletMenu nav li.highlight::before
{
	content: '';
	position: absolute;
	top: 9px;
	left: 30px;
	width: 70px;
	height: 70px;
	transform: scale(1.25);
	background-color: #E65100;
	opacity: .9;
	border-radius: 50%;
	z-index: -1;
}
#ongletMenu nav li.highlight svg
{
	fill: #fff;
	z-index: 500;
}
#ongletMenu nav li:hover
{
	opacity: .9;
}
#ongletMenu nav li.highlight:hover
{
	opacity: 1;
}

#ongletMenu nav li:active
{
	opacity: 1;
}

@media screen and (max-width: 550px) {
	
	#ongletMenu nav
	{
		box-shadow: none;
	}
	#ongletMenu nav h2
	{
		font-size: 50px;
		margin-top: 30px;
		padding: 0 15px;
	}
	#ongletMenu nav > p
	{
		max-width: 92%;
		margin-top: 25px;
	}
}



/* Liste des plats */
#ongletMenu > ul
{
	position: relative;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	list-style-type: none;
	width: 1120px; /* Modifié lors du responsive */
	margin: 60px auto;
}


.plat
{
	position: relative;
	width: 320px;
	height: 410px;
	border-radius: 5px;
	overflow: hidden;
	margin-bottom: 50px;
	margin-right: 50px;
	list-style-type: none;
	box-shadow: 0 2px 7px rgba(0, 0, 0, .2);
}
.plat:nth-child(3n)
{
	margin-right: 0;
}

.plat > li
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 500;
}

/* Image de 340*200 */
.plat > li > img
{
	display: block;
	width: 100%;
	height: 200px;
	overflow: hidden;
}
.plat h3
{
	padding: 17px 0;
	padding-left: 20px;
	padding-bottom: 15px;
	color: #000;
	font-weight: normal;
	font-size: 23px;
}
.plat > li > p
{
	font-size: 14px;
	padding: 0 28px;
	width: auto;
	opacity: .8;
}
.plat .platActions
{
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 48px;
	background-color: #fff;
	z-index: 500;
}
.platActions p
{
	display: flex;
	height: 100%;
	align-items: center;
	margin-left: 20px;
	font-size: 15px;
	color: #E65100;
	font-weight: bold;
	margin-right: 5px;
}
.platActions p::after
{
	content: '€';
	margin-left: 3px;
}
.platActions button
{
	position: relative;
	color: #fff;
	border: none;
	outline: none;
	font-size: 15px;
	font-weight: bold;
	padding: 10px 9px;
	margin-right: 8px;
	background: transparent;
	text-transform: uppercase;
	color: #E65100;
}

.platActions button::before,
.platActions button::after
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 9px;
	opacity: .1;
	background-color: #E65100;
	transform-origin: 50% 0;
	transform: scaleX(0);
	transition: all .1s linear 0s;
}
.platActions button::after
{
	transition: all .25s linear 0s;
}
.platActions button:hover::before,
.platActions button:hover::after
{
	transform: scaleX(1);
	border-radius: 4px;
}
.platActions button:active::before,
.platActions button:active::after
{
	opacity: .15;
}

/* Boutons d'action permettant de naviguer entre les élements de la carte */
.topButton
{
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 58px;
	height: 65px;
	background: transparent;
	border: none;
	outline: none;
	z-index: 1;
}
.showRecipe::before,
.showRecipe::after
{
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border-style: solid;
	border-color: transparent #E65100 transparent transparent;
	opacity: .4;
	z-index: 1;
}
.showRecipe::before
{
	border-width: 0 100px 100px 0;
	opacity: .7;
}
.showRecipe::after
{
	border-width: 0 110px 110px 0;
}
.topButton img
{
	height: 22px;
	z-index: 20;
}
.topButton:active img
{
	transform: scale(.93);
}


/* Partie cachée affichant la recette du plat */
.platRecette
{
	z-index: 3000;
}
@keyframes show {
	from
	{
		transform: scale(0);
	}
	to
	{
		transform: scale(1);
	}
}
.platRecette.hide
{
	display: none;
	animation: show .2s linear forwards;
}

.platRecette h3
{
	display: flex;
	flex-flow: column wrap;
	align-items: flex-start;
	justify-content: center;
	height: 60px;
	width: 100%;
	padding-left: 20px;
	color: #fff;
	border-bottom: 2px solid rgba(244, 81, 30, .4);
	font-size: 20px;
	font-weight: normal;
	background-color: #E65100;
}
.platRecette h3 p
{
	opacity: .82;
}
.platRecette p:first-child
{
	font-size: 22px;
	margin-bottom: 3px;
	font-weight: normal;
	opacity: 1;
}
.platRecette > ol
{
	display: flex;
	flex-flow: column wrap;
	width: 100%;
	flex-grow: 1;
	height: auto;
	list-style-type: none;
}
.platRecette > ol li
{
	position: relative;
	color: #000;
	font-size: 15px;
	padding: 10px 0;
	padding-left: 30px;
}
.platRecette > ol li:nth-child(even)
{
	background-color: rgba(244, 81, 30, .1);
}

@media screen and (max-width: 415px) {
	#ongletMenu > ul {
		width: 100%;
		margin-top: 5px;
		justify-content: center;
	}
	.plat
	{
		margin-right: 0;
		margin-bottom: 0;
		margin-top: 10px;
		width: 100%;
		height: 390px;
		border-radius: 0;
		box-shadow: none;
		padding-top: 25px;
		border-bottom: 1px solid rgba(0, 0, 0, .2);
	}
	.plat:first-child
	{
		display: none;
	}
	.showRecipe::before,
	.showRecipe::after
	{
		display: none;
	}
	.showRecipe::before
	{
		display: block;
		border: none;
	}
}

/*******************************************************************\

	Popup de confirmation de commande 

\*******************************************************************/
@keyframes fallDown
{
	from
	{
		transform: translateY(-100%);
	}
	to
	{
		transform: translateY(0);
	}
}
#popup.hide
{
	display: none;
}
#popup 
{
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	z-index: 5000;
	animation: fallDown .35s ease-out forwards;
}

#popup form
{
	display: flex;
	flex-flow: column wrap;
	margin-top: 20px;
	background-color: #fff;
	width: 380px;
	height: 450px;
	border-radius: 4px;
	overflow: hidden;
	box-shadow: 0 5px 25px rgba(0, 0, 0, .5);
}
#popup form > span
{
	position: relative;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	height: 180px;
	width: 100%;
	/* Empêche l'image de dépasser 
		les images n'étant pas nécessairement taillées
	*/
	overflow: hidden;
}
#popup form > span::before
{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #E65100;
	opacity: .46;
	z-index: 30;
}
#popup form > span h3
{
	font-size: 32px;
	color: #fff;
	font-family: 'Anton', sans-serif;
	font-weight: normal;
	text-shadow: 0 2px 5px rgba(0, 0, 0, .3);
	z-index: 200;
}
#popup form > span p
{
	color: #fff;
	font-size: 19px;
	font-family: 'Anton', sans-serif;
	margin-top: 20px;
	z-index: 200;
}
#popup form > span p::after
{
	content: '€';
	margin-left: 5px;
}
#popup form > span img
{
	position: absolute;
	top: -20px;
	left: 0;
	width: 100%;
	z-index: 20;
}
#popup form > h3
{
	color: #E65100;
	margin-left: 20px;
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 15px;
}
#popup form > input
{
	width: 80%;
	padding: 4px 5px;
	outline: none;
	margin: 15px auto 5px;
	border: none;
	font-size: 15px;
	color: #000;
	border-bottom: 2px solid #E65100;
}
#popup form > input:focus
{
	color: #E65100;
}
#popup button
{
	display: flex;
	height: auto;
	width: auto;
	padding: 10px;
	margin: 19px 0;
	margin-right: 20px;
	color: #fff;
	border-radius: 4px;
	outline: none;
	border: none;
	align-self: flex-end;
	font-size: 15px;
	text-transform: uppercase;
	background-color: #E65100;
}
#popup button:active
{
	transform: scale(.96);
	box-shadow: 0 2px 8px rgba(0, 0, 0, .2);
}

/* Cache les champs selectionnés en JS */
#popup .hidden
{
	display: none;
}