/*********************************************************************\

	Fichier propre à la partie Nous trouver.

\*********************************************************************/
#ongletNousTrouver .content {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: auto;
    margin: 40px auto;
    margin-bottom: 95px;
    background-color: #3e3e3e;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
	animation: getUp .24s ease-out forwards;
}

#ongletNousTrouver .content ul {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 50px;
}

#ongletNousTrouver #joursSemaine li
{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: pointer;
	position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    transition: background .2s linear 0s;
}

#ongletNousTrouver #joursSemaine li.highlight
{
    color: #FFB300;
}
#ongletNousTrouver #joursSemaine li:active
{
	background: rgba(255, 179 ,0 , .2);
}
#ongletNousTrouver #joursSemaine li.highlight::before
{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background-color: #FFB300;
	animation: unfold .2s linear forwards 0s;
}

/* Les cartes */
#ongletNousTrouver .allMap {
    position: relative;
    display: block;
    height: 400px;
    width: 100%;
    overflow: hidden;
}

#ongletNousTrouver .slider {
    display: block;
    height: 100%;
    width: 3600px;
    /* Modifié en JS */
    transform: translateX(0px);
}

#ongletNousTrouver .map {
	cursor: default;
    float: left;
    display: flex;
    width: 600px;
    height: 100%;
    background-color: #000;
}

/****************************************************\
    Partie évenements 
\****************************************************/
/* Bouton */
#showEvents
{
    position: absolute;
    bottom: -24px;
    right: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #FFB300;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .25);
    border-radius: 50%;
}
#showEvents:active
{
    transform: scale(1.08);
}
#showEvents svg
{
    fill: #3e3e3e;
    height: 24px;
}
/* Popup */
#eventPopup
{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 600;
    animation: fallDown .35s ease-out forwards;
}
#eventPopup.hidden
{
    display: none;
}
#eventPopup div
{
    position: relative;
    margin-top: 16px;
    width: 370px;
    height: 400px;
    background-color: #3e3e3e;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .5);
}
#eventPopup div::before,
#eventPopup div::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #3e3e3e;
    box-shadow: 0 5px 25px rgba(0, 0, 0, .5);
    z-index: -2;
}
#eventPopup div::before
{
    top: -12px;
    transform: scale(.97);
    z-index: -1;
}
#eventPopup div::after
{
    top: -20px;
    transform: scale(.95);
}
#eventPopup h1
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFB300;
}
#eventPopup h1::after
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 25%;
    width: 50%;
    height: 1px;
    background-color: #FFB300;
}
#eventPopup ul
{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    margin-top: 24px;
    margin-bottom: 30px;
    list-style-type: none;
}
#eventPopup ul a
{
    display: flex;
    align-items: center;
    height: 40px;
    color: #fff;
    padding-left: 30px;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: normal;
}
#eventPopup ul a:active
{
    color: #FFB300;
}

/****************************************************\
    Responsive
\****************************************************/
@media screen and (max-width: 600px){
    #ongletNousTrouver .content
    {
        width: 100%;
        margin-top: 5px;
    }
    #ongletNousTrouver .map
    {
        width: 415px;
    }
}

@media screen and (max-width: 415px) {
    #ongletNousTrouver ul 
    {
        height: auto;
        width: 100%;
        flex-flow: row wrap;
    }
    #ongletNousTrouver ul li
    {
        padding: 20px 0;
        width: 50%;
    }

}