/*********************************************************************\

	Fichier propre à la partie Nous trouver.

\*********************************************************************/
#ongletNousTrouver .content {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: auto;
    margin: 40px auto;
    margin-bottom: 85px;
    background-color: #3e3e3e;
    box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
    overflow: hidden;
	animation: getUp .24s ease-out forwards;
}

#ongletNousTrouver ul {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 50px;
}

#ongletNousTrouver #joursSemaine li
{
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	cursor: pointer;
	position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 100%;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    transition: background .2s linear 0s;
}

#ongletNousTrouver #joursSemaine li.highlight
{
    color: #FFB300;
}
#ongletNousTrouver #joursSemaine li:active
{
	background: rgba(255, 179 ,0 , .2);
}
#ongletNousTrouver #joursSemaine li.highlight::before
{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background-color: #FFB300;
	animation: unfold .2s linear forwards 0s;
}

/* Les cartes */
#ongletNousTrouver .allMap {
    position: relative;
    display: block;
    height: 400px;
    width: 100%;
    overflow: hidden;
}

#ongletNousTrouver .slider {
    display: block;
    height: 100%;
    width: 3600px;
    /* Modifié en JS */
    transform: translateX(0px);
}

#ongletNousTrouver .map {
	cursor: default;
    float: left;
    display: flex;
    width: 600px;
    height: 100%;
    background-color: #000;
}

@media screen and (max-width: 600px){
    #ongletNousTrouver .content
    {
        width: 100%;
        margin-top: 5px;
    }
    #ongletNousTrouver .map
    {
        width: 415px;
    }
}

@media screen and (max-width: 415px) {
    #ongletNousTrouver ul 
    {
        height: auto;
        width: 100%;
        flex-flow: row wrap;
    }
    #ongletNousTrouver ul li
    {
        padding: 20px 0;
        width: 50%;
    }

}